# Example .gitignore file for Python projects
AppData/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
*.exe
*.csv
externals/ArcGIS/cape_coral_cadastral_data.csv
jdk-17.0.14_windows-x64_bin.exe
sydney_env/